<h1>Editing Balance Criptomoneda</h1>

<%= render 'form', balance_criptomoneda: @balance_criptomoneda %>

<%= link_to 'Show', @balance_criptomoneda %> |
<%= link_to 'Back', balance_criptomonedas_path %>
